<footer class="footer mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4">
                <h5>
                    <i class="fas fa-car me-2"></i>
                    منصة السيارات
                </h5>
                <p class="text-light">
                    أفضل منصة لعرض وشراء السيارات الجديدة والمستعملة في المنطقة.
                    نوفر لك تجربة سهلة وآمنة للعثور على السيارة المناسبة لك.
                </p>
                <div class="social-links">
                    <a href="#" class="text-light me-3">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#" class="text-light me-3">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#" class="text-light me-3">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="#" class="text-light">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </div>
            </div>
            
            <div class="col-md-2 mb-4">
                <h6>روابط سريعة</h6>
                <ul class="list-unstyled">
                    <li><a href="/" class="text-light text-decoration-none">الرئيسية</a></li>
                    <li><a href="/cars" class="text-light text-decoration-none">جميع السيارات</a></li>
                    <li><a href="/search" class="text-light text-decoration-none">البحث المتقدم</a></li>
                    <li><a href="/about" class="text-light text-decoration-none">حول الموقع</a></li>
                </ul>
            </div>
            
            <div class="col-md-3 mb-4">
                <h6>خدماتنا</h6>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-light text-decoration-none">بيع السيارات</a></li>
                    <li><a href="#" class="text-light text-decoration-none">شراء السيارات</a></li>
                    <li><a href="#" class="text-light text-decoration-none">تقييم السيارات</a></li>
                    <li><a href="#" class="text-light text-decoration-none">التمويل</a></li>
                </ul>
            </div>
            
            <div class="col-md-3 mb-4">
                <h6>تواصل معنا</h6>
                <ul class="list-unstyled">
                    <li class="text-light">
                        <i class="fas fa-phone me-2"></i>
                        +966 50 123 4567
                    </li>
                    <li class="text-light">
                        <i class="fas fa-envelope me-2"></i>
                        info@carplatform.com
                    </li>
                    <li class="text-light">
                        <i class="fas fa-map-marker-alt me-2"></i>
                        الرياض، المملكة العربية السعودية
                    </li>
                </ul>
            </div>
        </div>
        
        <hr class="border-light">
        
        <div class="row">
            <div class="col-md-6">
                <p class="text-light mb-0">
                    &copy; 2024 منصة السيارات. جميع الحقوق محفوظة.
                </p>
            </div>
            <div class="col-md-6 text-end">
                <a href="#" class="text-light text-decoration-none me-3">سياسة الخصوصية</a>
                <a href="#" class="text-light text-decoration-none">شروط الاستخدام</a>
            </div>
        </div>
    </div>
</footer>
